body {
    margin: 0;
    font-family: 'Raleway', sans-serif;
}

body .containerPrincpal,.header, .footerBox {
    max-width: 1440px;
}

a {
    text-decoration: none;
}

h1 {
    font-size: 2em;
}

h2 {
    font-size: 1.5em;
    font-weight: bold;
}

h3 {
    font-size: 1.2em;
}



/* MAIN */

.containerPrincpal {
    margin: auto;
    height: auto;
    /* margin-top: 30px; */
    padding: 0px 30px 0px 30px;
}

/* HEADER */

.header {
    margin: auto;
    display: flex;
    padding: 20px 30px 0px 30px;
    align-items: center;
    justify-content: space-between;
}

header a:hover {
    border-top: 4px solid #0065FC;
}

.sections, .inscription {
    margin-right: 30px;
    height: 100%;
    padding-top: 30px;
}

.header a {
    text-decoration: none;
    font-weight: bold;
    color: #0065FC;
}

/* SEARCH */

.searchForm {
    padding: 10px 0px 10px 0px;
    display: flex;
}

.searchTitle h1 {
    font-size: 2em;
    margin-bottom: 0.5em;
}

.searchTitle p {
    font-size: 1em;
    margin-top: 0.3em;
}

.searchIcon {
    background-color: #F2F2F2;
    padding: 16px 20px;
    border-radius: 20px 0px 0px 20px;
    text-align: center;
}

.searchText {
    text-align: left;
    border-right: none;
    border-left: none;
    padding-left: 20px;
    padding-top: 0.9em;
    padding-bottom: 0.9em;
    border-top: 1px solid #F2F2F2;
    border-bottom: 1px solid #F2F2F2;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    font-size: 1em;
    width: 14em;
}

.searchButton {
    border: 0;
    font-size: 1em;
    border-radius: 0px 20px 20px 0px;
    padding: 1em 1.4em;
    background-color: #0065FC;
    color: white;
    cursor: pointer;
}

.searchButton a {
    text-decoration: none;
    color: white;
}

/* SEARCH FILTERS */

.searchFiltersContainer {
    width: 70%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    font-weight: bold;
    margin-top: 2em;
}

.searchFilterTitle {
    font-size: 1.2em;
    font-weight: bold;
}

.searchFilters {
    display: flex;
    border: #f2f2f2 solid 2px;
    border-radius: 30px;
    cursor: pointer;
    margin: 0.4em;
    transition: 0.3s;
}

.searchFilters:hover {
    transform: scale(1.1);
}

.searchFilters i {
    display: flex;
    width: 54px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 43px;
    color: #0065FC;
    background-color: #DEEBFF;
}

.searchFiltersTopics {
    /* margin: 0.3750em; */
    margin-top: 0.3750em;
    margin-bottom: 0.3750em;
    margin-right: 0.3750em;
    margin-left: 0.3750em;
    height: 40px;
    display: flex;
    padding-right: 1em;
    /* padding-left: 1em; */
    /* text-align: center; */
    align-items: center;
}

.informations i {
    background-color: white;
    color: #0065FC;
    padding: 0.5em 0.8em;
    align-items: center;
    border: 2px solid#ddd;
    border-radius: 50%;
    margin-right: 0.8em;
    margin-left: 0.8em;
}

/* HOSTING */

.hostingGeneral {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

/* HOSTING PRINCIPAL & POPULAR */

.containerHostingPrincipal, .containderHostingPopular {
    background-color: #F2F2F2;
    border-radius: 20px;
    padding: 20px;
}

.containerHostingPrincipal h2, .containderHostingPopular h2 {
    margin-left: 20px;
    margin-bottom: 10px;
}

/* CARDS GENERAL */

.starsTrue {
    color: #0065FC;
}

.starsFalse {
    color: #F2F2F2;
}

/* HOVER CARDS GENERAL */

.cardsHostingPrincipal:hover, .containerCardHostingPopular:hover, .cardsHostingPrincipal:hover, .containerCardHostingPopular:hover, .cardActivity1:hover, .cardActivity2and3:hover, .cardActivity4:hover, .cardActivity5and6:hover {
    transform: scale(1.05);
}

.cardsHostingPrincipal, .containerCardHostingPopular, .cardActivity1, .cardActivity2and3, .cardActivity4, .cardActivity5and6  {
    transition: 0.3s;
    cursor: pointer;
}

/* HOSTING PRINCIPAL */

.containerHostingPrincipal {
    /* display: flex; */
    width: 60%;
    height: auto;
}

.containerCardHostingPrincipal {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: stretch;
    /* gap: 5px 5px; */
}

/* CARDS HOSTING PINCIPAL */

.cardsHostingPrincipal {
    height: auto;
    border-radius: 20px;
    transition: 0.3s;
}

.cardsHostingPrincipal img {
    height: 8rem;
    object-fit: cover;
    max-width: 100%;
    width: 100%;
    max-height: 100%;
    border-radius: 20px 20px 0px 0px;
}

.cardsHostingPrincipal {
    background-color: white;
    width: 27%;
    /* height: auto; */
    margin: 20px;
    padding: 5px;
    box-shadow: 5px 5px 19px #bababa;
}

.titleCardsHostingPrincipal {
    margin: 0px 0px 0px 5px;
    font-weight: bold;
}

.priceCardsHostingPrincipal {
    margin: 5px 0px 0px 5px;
}

.notationCardsHostingPrincipal {
    display: flex;
    margin: 0;
}

.next a {
    margin-left: 2em;
    font-weight: bold;
    color: black;
    text-decoration: none;
}

/* HOSTING POPULAR */

.containderHostingPopular {
    display: flex;
    flex-direction: column;
    width: 430px;
    margin-left: 20px;
}

.containerCardHostingPopular {
    height: 8rem;
    width: auto;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 5px;
    box-shadow: 5px 5px 19px #bababa;
}

.titleHostingPopular {
    display: flex;
    font-size: 1em;
    margin: 0;
    justify-content: space-between;
    align-items: center;
}

.titleHostingPopular i {
    margin-right: 2em;
    margin-top: 0.5em;
    font-size: 1.4em;
    /* align-items: center; */
}

.containerCardHostingPopular {
    background-color: white;
    border-radius: 20px;
    height: auto;
    /* display: flex; */
    /* flex-wrap: wrap; */
    margin: auto 1em auto 1em;
}

/* CARDS HOTING POPULAR */

.cardsHostingPopular {
    width: 100%;
    /* margin: 20px; */
}

.cardsHostingPopular img {
    float: left;
    border-radius: 20px 0px 0px 20px;
    width: 9rem;
    height: 9rem;
    object-fit: cover;
}

.titleCardsHostingPopular {
    margin-top: 0;
    margin-left: 0.8em;
    font-weight: bold;
}

.priceCardsHostingPopular {
    margin-top: 0.4em;
    margin-left: 0.8em;
    display: inline-block;
}

.notationCardsHostingPopular {
    /* display: flex; */
    display: inline-block;
    /* align-content: flex-end; */
    margin-left: 0.8em;
    margin-top: 1.7em;
    /* align-items: flex-end; */
}

/* ACTIVITY */

.containerActivityGeneral {
    width: 100%;
    margin: 4em 0em 4em 0em;
}

.containerActivityGeneral h2 {
    margin-bottom: 0.3em;
}

.containerActivity {
    width: 100%;
    height: 520px;
    display: flex;
    justify-content: center;
}

.containerCardActivity {
    width: 100%;
    /* height: 225px; */
    display: flex;
    justify-content: space-between;
}

.cardActivity1 {
    display: flex;
    flex-direction: column;
    box-shadow: 5px 5px 19px #bababa;

    /* text-align: center; */
}

.cardActivity1 img {
    border-radius: 20px 20px 0px 0px;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.cardActivity2and3 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.cardActivity1, .cardActivity2and3, .cardActivity4, .cardActivity5and6 {
    margin: 1em;
    width: 25%;
    height: 100%;
    border-radius: 20px 20px 20px 20px;
    background-color: lightsteelblue;
}

.cardActivity1 {
    margin-left: 0em;
}

.cardActivity5and6 {
    margin-right: 0em;
}

/* FOOTER */

footer {
    background-color: #F2F2F2;
    width: 100%;
}

.footerBox {
    display: flex;
    /* max-width: 1440px; */
    margin: auto;
    /* padding: 0 2rem; */
    box-sizing: border-box;
}

.footerColumn {
    width: 30%;
    padding: 2rem 2rem 2rem 0rem;
}

.footerLink {
    display: block;
    margin: 1rem 0;
    color: black;
}