body {
    margin: 0;
    font-family: 'Raleway', sans-serif;
}

body .containerPrincpal, .header, .footerBox {
    max-width: 1290px;
}

a {
    text-decoration: none;
}

h1 {
    font-size: 2em;
}

h2 {
    font-size: 1.5em;
    font-weight: bold;
}

h3 {
    font-size: 1.1em;
    font-weight: bold;
}

/* MAIN */

.containerPrincpal {
    margin: auto;
    height: auto;
    /* padding: 0px 30px 0px 30px; */
}

/* HEADER */

.header {
    margin: auto;
    display: flex;
    padding: 20px 30px 0px 30px;
    align-items: center;
    justify-content: space-between;
}

header a:hover {
    border-top: 4px solid #0065FC;
}

.sections, .inscription {
    margin-right: 30px;
    height: 100%;
    padding-top: 30px;
}

.header a {
    font-weight: bold;
    color: #0065FC;
}

.navbarResponsive {
    display: none;
}

/* SEARCH */

.searchForm {
    padding: 10px 0px 10px 0px;
    display: flex;
}

.searchTitle h1 {
    margin-bottom: 0.5em;
}

.searchTitle p {
    font-size: 1em;
    margin-top: 0.3em;
}

.searchIcon {
    background-color: #F2F2F2;
    padding: 16px 20px;
    border-radius: 20px 0px 0px 20px;
    text-align: center;
}

.searchText {
    text-align: left;
    border-right: none;
    border-left: none;
    padding-left: 20px;
    padding-top: 0.9em;
    padding-bottom: 0.9em;
    border-top: 1px solid #F2F2F2;
    border-bottom: 1px solid #F2F2F2;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    font-size: 1em;
    width: 14em;
}

.searchButton {
    border: 0;
    font-size: 1em;
    border-radius: 0px 20px 20px 0px;
    padding: 1em 1.4em;
    background-color: #0065FC;
    color: white;
    cursor: pointer;
}

.searchButtonResponsive {
    display: none;
}

/* SEARCH FILTERS */

.searchFiltersContainer {
    width: 70%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    font-weight: bold;
    margin-top: 2em;
}

.searchFilterTitle {
    font-size: 1.2em;
    font-weight: bold;
}

.searchFilters {
    display: flex;
    border: #f2f2f2 solid 2px;
    border-radius: 30px;
    cursor: pointer;
    margin: 0.4em;
    transition: 0.3s;
}

.searchFilters:hover {
    transform: scale(1.1);
}

.searchFilters i {
    display: flex;
    width: 54px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 43px;
    color: #0065FC;
    background-color: #DEEBFF;
}

.searchFiltersTopics {
    margin-top: 0.3750em;
    margin-bottom: 0.3750em;
    margin-right: 0.3750em;
    margin-left: 0.3750em;
    height: 40px;
    display: flex;
    padding-right: 1em;
    align-items: center;
}

.informations {
    display: flex;
    margin: 16px 0px;
    align-items: center;
}

.informations i {
    background-color: white;
    color: #0065FC;
    padding: 10px 15px;
    /* align-items: center; */
    border: 2px solid#ddd;
    border-radius: 50%;
    margin-top: 5px;
    margin-right: 0.8em;
    /* margin-left: 0.8em; */
    height: 50%;
}

/* HOSTING */

#hosting {
    width: 100%;
    display: flex;
    flex-wrap: none;
}

/* HOSTING PRINCIPAL & POPULAR */

.containerHostingPrincipal, .containerHostingPopular {
    background-color: #F2F2F2;
    border-radius: 20px;
    padding: 20px;
}

.containerHostingPrincipal h2, .containerHostingPopular h2 {
    margin-left: 20px;
    margin-bottom: 10px;
}

/* CARDS GENERAL */

.starsTrue {
    color: #0065FC;
}

.starsFalse {
    color: #F2F2F2;
}

/* HOVER CARDS GENERAL */

.cardsHostingPrincipal:hover, .containerCardHostingPopular:hover, .cardsHostingPrincipal:hover, .containerCardHostingPopular:hover, .cardActivity1:hover, .cardActivity2and3:hover, .cardActivity4:hover, .cardActivity5and6:hover {
    transform: scale(1.05);
    box-shadow: 5px 5px 19px #DEEBFF;
}

.cardsHostingPrincipal, .containerCardHostingPopular, .cardActivity1, .cardActivity2and3, .cardActivity4, .cardActivity5and6 {
    transition: 0.3s;
    cursor: pointer;
}

/* HOSTING PRINCIPAL */

.containerHostingPrincipal {
    width: 66%;
    height: auto;
}

.containerCardHostingPrincipal {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: stretch;
}

/* CARDS HOSTING PINCIPAL */

.cardsHostingPrincipal {
    width: 25%;
    height: auto;
    border-radius: 20px;
    transition: 0.3s;
}

.cardsHostingPrincipal img {
    height: 6rem;
    object-fit: cover;
    max-width: 100%;
    width: 100%;
    max-height: 100%;
    border-radius: 20px 20px 0px 0px;
}

.cardsHostingPrincipal {
    background-color: white;
    width: 27%;
    margin: 20px;
    padding: 5px;
    box-shadow: 5px 5px 19px #bababa;
}

.titleCardsHostingPrincipal {
    margin: 0px 0px 5px 5px;
    font-weight: bold;
}

.priceCardsHostingPrincipal {
    margin: 0px 0px -10px 5px;
}

.notationCardsHostingPrincipal {
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    margin: 0px 0px -13px 5px;
}

.next a {
    margin-left: 2em;
    font-weight: bold;
    color: black;
}

/* HOSTING POPULAR */

.containerHostingPopular {
    display: flex;
    flex-direction: column;
    width: 430px;
    margin-left: 20px;
}

.containerCardHostingPopular {
    height: 8rem;
    width: auto;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 5px;
    box-shadow: 5px 5px 19px #bababa;
}

.presentationCardsHostingPopular h3 {
    margin-bottom: 0.1em;
    margin-right: 0.2em;
}

.titleHostingPopular {
    display: flex;
    align-items: center;
    /* justify-content: stretch; */
}

.titleHostingPopular i {
    margin-right: 2em;
    margin-left: auto;
    margin-top: 0.5em;
    font-size: 1.4em;
    /* align-items: center; */
}

.containerCardHostingPopular {
    background-color: white;
    border-radius: 20px;
    height: auto;
    margin: auto 1em auto 1em;
}

/* CARDS HOTING POPULAR */

.containerCardHostingPopular {
    display: flex;
    justify-content: space-between;
}

.cardsHostingPopular {
    display: flex;
    width: auto;
}

.imgCardsHostingPopular {
    float: left;
    object-fit: cover;
}

.cardsHostingPopular img {
    float: left;
    border-radius: 20px 0px 0px 20px;
    width: 9rem;
    height: 9rem;
    object-fit: cover;
}

.presentationCardsHostingPopular {
    display: flex;
    flex-direction: column;
    margin-left: 0.8em;
}

.titleCardsHostingPopular {
    margin-top: 1em;
    font-weight: bold;
}

.priceCardsHostingPopular {
    margin-top: 0.4em;
}

.notationCardsHostingPopular {
    margin-top: auto;
    margin-bottom: 10px;
}

/* ACTIVITY */

#activity {
    margin: 4rem auto;
}

.containeractivity {
    width: 100%;
    height: 520px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: space-between;
}

.containeractivity figcaption {
    font-size: 1em;
    margin: 1em;
    font-weight: bold;
    background-color: white;
}

.containeractivity .cardActivityTypeOne {
    height: 100%;
    width: 290px;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    box-shadow: 5px 5px 19px #bababa;
    transition: 0.3s;
    margin: 0;
}

.containeractivity .cardActivityTypeOne a, .cardActivityTypeTwo a, .cardActivityTypeThree a {
    width: 100%;
    height: 100%;
}

.cardActivityTypeOne img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 20px 20px 0px 0px;
}

.containeractivity .cardActivityTypeTwo {
    margin: 0em;
    height: 52%;
    width: 290px;
    border-radius: 20px;
    box-shadow: 5px 5px 19px #bababa;
    transition: 0.3s;
}

.cardActivityTypeTwo img {
    height: 75%;
    width: 100%;
    object-fit: cover;
    border-radius: 20px 20px 0px 0px;
}

.containeractivity .cardActivityTypeThree {
    height: 40%;
    width: 290px;
    border-radius: 20px;
    margin: 0em;
    box-shadow: 5px 5px 19px #bababa;
    transition: 0.3s;
}

.cardActivityTypeThree img {
    height: 68%;
    width: 100%;
    object-fit: cover;
    border-radius: 20px 20px 0px 0px;
}

.cardActivityTypeOne:hover, .cardActivityTypeTwo:hover, .cardActivityTypeThree:hover {
    transform: scale(0.9);
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22);
}

/* FOOTER */

footer {
    background-color: #F2F2F2;
    width: 100%;
}

.footerBox {
    display: flex;
    margin: auto;
    box-sizing: border-box;
}

.footerColumn {
    width: 30%;
    padding: 2rem 2rem 2rem 0rem;
}

.footerLink {
    display: block;
    margin: 1rem 0;
    color: black;
}

.footerLink:hover {
    color: #0065FC;
}

/* ~~~~~~~~~~~~~~ RESPONSIVE FOR Tab ~~~~~~~~~~~~~~ */

@media all and (min-width:768px) and (max-width:1024px) {
    body .containerPrincpal, .header, .footerBox {
        max-width: 1024px;
        margin: 0px 20px 0px 20px;
    }
    /*  RESPONSIVE HEADER */
    .header {
        padding: 20px 0px;
    }
    .sections {
        display: none;
    }
    .inscription {
        margin: 0;
    }
    .navbarResponsive {
        display: flex;
        flex-wrap: nowrap;
        flex-direction: row;
    }
    .navbarResponsiveDetail {
        display: flex;
        justify-content: space-evenly;
        width: 100%;
        height: 100%;
    }
    .navbarResponsive a {
        height: 100%;
        font-size: 1.1em;
        text-decoration: none;
        color: black;
    }
    .sectionsResponsive {
        display: flex;
        justify-content: center;
        width: 100%;
        padding: 1em 0em 1em 0em;
    }
    .sectionsResponsive:hover {
        border-bottom: 4px solid #0065FC;
        color: #0065FC;
    }
    /* RESPONSIVE HOSTING PRINCIPAL */
    #hosting {
        display: flex;
        flex-direction: row;
        /* justify-content: center; */
        width: 100%;
    }
    /* RESPONSIVE HEADER */
    .header {
        padding: 20px 0px;
    }
    .sections {
        display: none;
    }
    .inscription {
        margin: 0;
    }
    .navbarResponsive {
        display: flex;
        flex-wrap: nowrap;
        flex-direction: row;
    }
    .navbarResponsiveDetail {
        display: flex;
        justify-content: space-evenly;
        width: 100%;
        height: 100%;
    }
    .navbarResponsive a {
        height: 100%;
        font-size: 1.1em;
        text-decoration: none;
        color: black;
    }
    .sectionsResponsive {
        display: flex;
        justify-content: center;
        width: 100%;
        padding: 1em 0em 1em 0em;
    }
    .sectionsResponsive:hover {
        border-bottom: 4px solid #0065FC;
        color: #0065FC;
    }
    /* RESPONSIVE SEARCH */

    .searchTitle h1 {
        font-size: 1.5em;
    }
    .searchButton {
        display: none;
    }
    .searchButtonResponsive {
        display: flex;
        border: 0;
        font-size: 1em;
        border-radius: 20px 20px 20px 20px;
        margin-left: -25px;
        padding: 1.2em;
        background-color: #0065FC;
        color: white;
        cursor: pointer;
    }
    /* RESPONSIVE SEARCH BUTTON */
    .searchFiltersContainer {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: row;
        /* flex-wrap: wrap; */
        justify-content: space-between;
        padding: 0;
        margin: 0;
    }
    .searchFilterTitle {
        width: 100%;
        margin-bottom: -15px;
    }
    .searchFilters {
        margin: 8px 0px;
        width: auto;
    }
    .searchFiltersTopics {
        width: auto;
        padding-right: 10px;
    }
    .informations {
        width: 100%;
        font-size: 15px;
    }
    /* RESPONSIVE HOSTING PRINCIPAL */
    #hosting {
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        width: 100%;
    }
    .containerPrincpal .containerHostingPrincipal {
        /* order: 1; */
        width: auto;
        padding: 0em;
    }
    .containerHostingPrincipal h2 {
        margin-left: 0px;
        margin-bottom: 10px;
        margin-top: 40px;
    }
    .containerCardHostingPrincipal {
        width: 100%;
        /* order: 2; */
        justify-content: space-around;
        background-color: white;
    }
    .cardsHostingPrincipal {
        display: flex;
        flex-direction: column;
        width: 33%;
        height: auto;
        margin: 1em 0;
    }
    .containerHostingPrincipal {
        background-color: white;
        /* margin: 1em 0em; */
    }
    /* RESPONSIVE HOSTING POPULAR   */
    .containerPrincpal .containerHostingPopular {
        width: 99%;
        margin-left: -17px;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;
        border-radius: 0;
    }
    .containerHostingPopular h2 {
        margin-left: 0px;
        margin-bottom: 10px;
    }
    .containerCardHostingPopular {
        width: 48%;
        display: flex;
        margin-top: 20px;
        margin-right: 4px;
        margin-left: 0px;
    }
    .titleHostingPrincipal, .titleHostingPopular {
        margin: 0;
        width: 100%;
    }
    .imgCardsHostingPopular {
        width: auto;
        height: auto;
    }
    .cardsHostingPopular img {
        object-fit: cover;
    }
    .titleCardsHostingPrincipal {
        margin: 10px 0px 5px 5px;
    }
    .presentationCardsHostingPopular {
        width: 100%;
    }
    /* RESPONSIVE ACTIVITY */
    .containeractivity {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 1380px;
        justify-content: space-between;
    }
    .containeractivity figcaption {
        font-size: 0.9em;
    }
    .containeractivity .cardActivityTypeOne {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: auto;
    }
    .containeractivity .cardActivityTypeTwo {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: auto;
    }
    .containeractivity .cardActivityTypeThree {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: auto;
    }
    .containeractivity .cardActivityTypeOne a, .cardActivityTypeTwo a, .cardActivityTypeThree a {
        width: 100%;
        height: auto;
    }
    .cardActivityTypeOne img, .cardActivityTypeTwo img, .cardActivityTypeThree img {
        height: 150px;
        width: 100%;
    }
    /* RESPONSIVE FOOTER */
    .footerBox {
        width: 100%;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        /* justify-content: start; */
        /* font-size: 1.2em; */
    }
    .footerColumn {
        width: 100%;
        padding: 0;
        margin: auto;
    }
}

/* ~~~~~~~~~~~~~~ RESPONSIVE FOR iPHONE 8 ~~~~~~~~~~~~~~ */

@media all and (max-width: 767px) {
    body .containerPrincpal, .header, .footerBox {
        max-width: 768px;
        margin: 0px 20px 0px 20px;
    }
    h1 {
        font-size: 1.4em;
    }
    /* RESPONSIVE HEADER */
    .header {
        padding: 20px 0px;
    }
    .sections {
        display: none;
    }
    .inscription {
        margin: 0;
    }
    .navbarResponsive {
        display: flex;
        flex-wrap: nowrap;
        flex-direction: row;
    }
    .navbarResponsiveDetail {
        display: flex;
        justify-content: space-evenly;
        width: 100%;
        height: 100%;
    }
    .navbarResponsive a {
        height: 100%;
        font-size: 1.1em;
        text-decoration: none;
        color: black;
    }
    .sectionsResponsive {
        display: flex;
        justify-content: center;
        width: 100%;
        padding: 1em 0em 1em 0em;
    }
    .sectionsResponsive:hover {
        border-bottom: 4px solid #0065FC;
        color: #0065FC;
    }
    /* RESPONSIVE SEARCH */
    .searchButton {
        display: none;
    }
    .searchButtonResponsive {
        display: flex;
        border: 0;
        font-size: 1em;
        border-radius: 20px 20px 20px 20px;
        margin-left: -25px;
        padding: 1.2em;
        background-color: #0065FC;
        color: white;
        cursor: pointer;
    }
    /* RESPONSIVE SEARCH BUTTON */
    .searchFiltersContainer {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: row;
        /* flex-wrap: wrap; */
        justify-content: space-between;
        padding: 0;
        margin: 0;
    }
    .searchFilterTitle {
        width: 100%;
        margin-bottom: -15px;
    }
    .searchFilters {
        margin: 8px 0px;
        width: auto;
    }
    .searchFiltersTopics {
        width: auto;
        padding-right: 10px;
    }
    .informations {
        width: 100%;
        font-size: 15px;
        
    }
    /* RESPONSIVE HOSTING PRINCIPAL */
    #hosting {
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        width: 100%;
    }
    .containerPrincpal .containerHostingPrincipal {
        /* order: 1; */
        width: auto;
        padding: 0em;
    }
    .containerHostingPrincipal h2 {
        margin-left: 0px;
        margin-bottom: 10px;
        margin-top: 40px;
    }
    .containerCardHostingPrincipal {
        width: 100%;
        order: 2;
        background-color: white;
    }
    .cardsHostingPrincipal {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: auto;
        margin: 1em 0;
    }
    .containerHostingPrincipal {
        background-color: white;
        /* margin: 1em 0em; */
    }
    /* RESPONSIVE HOSTING POPULAR   */
    .containerPrincpal .containerHostingPopular {
        width: 99%;
        margin-left: -17px;
        display: flex;
        border-radius: 0;
    }
    .containerHostingPopular h2 {
        margin-left: 0px;
        margin-bottom: 10px;
    }
    .containerCardHostingPopular {
        width: 98%;
        display: flex;
        margin-top: 20px;
        margin-right: 0px;
        margin-left: 0px;
    }
    .titleHostingPrincipal, .titleHostingPopular {
        margin: 0;
    }
    .imgCardsHostingPopular {
        width: 100%;
        height: auto;
    }
    .cardsHostingPopular img {
        object-fit: cover;
    }
    .titleCardsHostingPrincipal {
        margin: 10px 0px 5px 5px;
    }
    .presentationCardsHostingPopular {
        width: 100%;
    }
    /* RESPONSIVE ACTIVITY */
    .containeractivity {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 1380px;
        justify-content: space-between;
    }
    .containeractivity figcaption {
        font-size: 0.9em;
    }
    .containeractivity .cardActivityTypeOne {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: auto;
    }
    .containeractivity .cardActivityTypeTwo {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: auto;
    }
    .containeractivity .cardActivityTypeThree {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: auto;
    }
    .containeractivity .cardActivityTypeOne a, .cardActivityTypeTwo a, .cardActivityTypeThree a {
        width: 100%;
        height: auto;
    }
    .cardActivityTypeOne img, .cardActivityTypeTwo img, .cardActivityTypeThree img {
        height: 150px;
        width: 100%;
    }
    /* RESPONSIVE FOOTER */
    .footerBox {
        width: 100%;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        /* justify-content: start; */
        /* font-size: 1.2em; */
    }
    .footerColumn {
        width: 100%;
        padding: 0;
        margin: auto;
    }
}